{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}

{% include 'base/header.html.twig' %}

<style>
.formone {
  margin-top: 1rem;
  margin-bottom:1rem;
  margin-left: 5rem;
  margin-right: 5rem;
  border-radius: 10px;
  justify-content : center;
  background-color : #282d32;
  color: white;
}


.form {
  margin-top: 1rem;
  margin-bottom:1rem;
  margin-left: 5rem;
  margin-right: 5rem;

}

.card{
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
  margin-bottom:2rem;
  justify-content : center;
  align-items: center;
  width: 20rem;
  height: 35rem;

}

</style>


<div class="formone d-flex flex-row justify-content-center ">



<form class="form">
<h5 class="card-title">Largeur</h5>
<div class="select mb-3">
                                    <select name="l" class="required" id="slh">
                                                                                    <option value="-" selected="selected">
                                                                                              </option>
                                                                                    <option value="2.5">
                                                2.5                                            </option>
                                                                                    <option value="3.5">
                                                3.5                                            </option>
                                                                                    <option value="4">
                                                4                                            </option>
                                                                                    <option value="4.5">
                                                4.5                                            </option>
                                                                                    <option value="4.75">
                                                4.75                                            </option>
                                                                                    <option value="4.8">
                                                4.8                                            </option>
                                                                                    <option value="5">
                                                5                                            </option>
                                                                                    <option value="5.2">
                                                5.2                                            </option>
                                                                                    <option value="5.25">
                                                5.25                                            </option>
                                                                                    <option value="5.3">
                                                5.3                                            </option>
                                                                                    <option value="5.5">
                                                5.5                                            </option>
                                                                                    <option value="5.6">
                                                5.6                                            </option>
                                                                                    <option value="5.7">
                                                5.7                                            </option>
                                                                                    <option value="5.9">
                                                5.9                                            </option>
                                                                                    <option value="6">
                                                6                                            </option>
                                                                                    <option value="6.4">
                                                6.4                                            </option>
                                                                                    <option value="6.5">
                                                6.5                                            </option>
                                                                                    <option value="6.7">
                                                6.7                                            </option>
                                                                                    <option value="7">
                                                7                                            </option>
                                                                                    <option value="7.25">
                                                7.25                                            </option>
                                                                                    <option value="7.3">
                                                7.3                                            </option>
                                                                                    <option value="7.5">
                                                7.5                                            </option>
                                                                                    <option value="8.25">
                                                8.25                                            </option>
                                                                                    <option value="8.75">
                                                8.75                                            </option>
                                                                                    <option value="9.5">
                                                9.5                                            </option>
                                                                                    <option value="10.5">
                                                10.5                                            </option>
                                                                                    <option value="12">
                                                12                                            </option>
                                                                                    <option value="13">
                                                13                                            </option>
                                                                                    <option value="13.5">
                                                13.5                                            </option>
                                                                                    <option value="15">
                                                15                                            </option>
                                                                                    <option value="17">
                                                17                                            </option>
                                                                                    <option value="18">
                                                18                                            </option>
                                                                                    <option value="18.5">
                                                18.5                                            </option>
                                                                                    <option value="20.5">
                                                20.5                                            </option>
                                                                                    <option value="21">
                                                21                                            </option>
                                                                                    <option value="27">
                                                27                                            </option>
                                                                                    <option value="28">
                                                28                                            </option>
                                                                                    <option value="29">
                                                29                                            </option>
                                                                                    <option value="30">
                                                30                                            </option>
                                                                                    <option value="31">
                                                31                                            </option>
                                                                                    <option value="32">
                                                32                                            </option>
                                                                                    <option value="33">
                                                33                                            </option>
                                                                                    <option value="35">
                                                35                                            </option>
                                                                                    <option value="36">
                                                36                                            </option>
                                                                                    <option value="37">
                                                37                                            </option>
                                                                                    <option value="38">
                                                38                                            </option>
                                                                                    <option value="38.5">
                                                38.5                                            </option>
                                                                                    <option value="39">
                                                39                                            </option>
                                                                                    <option value="40">
                                                40                                            </option>
                                                                                    <option value="42">
                                                42                                            </option>
                                                                                    <option value="105">
                                                105                                            </option>
                                                                                    <option value="115">
                                                115                                            </option>
                                                                                    <option value="125">
                                                125                                            </option>
                                                                                    <option value="130">
                                                130                                            </option>
                                                                                    <option value="135">
                                                135                                            </option>
                                                                                    <option value="140">
                                                140                                            </option>
                                                                                    <option value="145">
                                                145                                            </option>
                                                                                    <option value="150">
                                                150                                            </option>
                                                                                    <option value="155">
                                                155                                            </option>
                                                                                    <option value="160">
                                                160                                            </option>
                                                                                    <option value="165">
                                                165                                            </option>
                                                                                    <option value="170">
                                                170                                            </option>
                                                                                    <option value="175">
                                                175                                            </option>
                                                                                    <option value="180">
                                                180                                            </option>
                                                                                    <option value="185">
                                                185                                            </option>
                                                                                    <option value="190">
                                                190                                            </option>
                                                                                    <option value="195">
                                                195                                            </option>
                                                                                    <option value="200">
                                                200                                            </option>
                                                                                    <option value="205">
                                                205                                            </option>
                                                                                    <option value="210">
                                                210                                            </option>
                                                                                    <option value="215">
                                                215                                            </option>
                                                                                    <option value="220">
                                                220                                            </option>
                                                                                    <option value="225">
                                                225                                            </option>
                                                                                    <option value="230">
                                                230                                            </option>
                                                                                    <option value="235">
                                                235                                            </option>
                                                                                    <option value="240">
                                                240                                            </option>
                                                                                    <option value="245">
                                                245                                            </option>
                                                                                    <option value="250">
                                                250                                            </option>
                                                                                    <option value="255">
                                                255                                            </option>
                                                                                    <option value="265">
                                                265                                            </option>
                                                                                    <option value="270">
                                                270                                            </option>
                                                                                    <option value="275">
                                                275                                            </option>
                                                                                    <option value="280">
                                                280                                            </option>
                                                                                    <option value="285">
                                                285                                            </option>
                                                                                    <option value="295">
                                                295                                            </option>
                                                                                    <option value="305">
                                                305                                            </option>
                                                                                    <option value="315">
                                                315                                            </option>
                                                                                    <option value="325">
                                                325                                            </option>
                                                                                    <option value="335">
                                                335                                            </option>
                                                                                    <option value="345">
                                                345                                            </option>
                                                                                    <option value="350">
                                                350                                            </option>
                                                                                    <option value="355">
                                                355                                            </option>
                                                                                    <option value="400">
                                                400                                            </option>
                                                                                    <option value="401">
                                                401                                            </option>
                                                                                    <option value="450">
                                                450                                            </option>
                                                                                    <option value="500">
                                                500                                            </option>
                                                                                    <option value="600">
                                                600                                            </option>
                                                                                    <option value="650">
                                                650                                            </option>
                                                                                    <option value="700">
                                                700                                            </option>
                                                                            </select>
                                </div>



                                

</form>



<form class="form">
<h5 class="card-title">Hauteur</h5>
<div class="select mb-3">
                                    <select name="h" class="required" id="shh">
                                                                                    <option value="R">
                                                R                                            </option>
                                                                                    <option value="35">
                                                35                                            </option>
                                                                                    <option value="40">
                                                40                                            </option>
                                                                                    <option value="45">
                                                45                                            </option>
                                                                                    <option value="50">
                                                50                                            </option>
                                                                                    <option value="55">
                                                55                                            </option>
                                                                                    <option value="60">
                                                60                                            </option>
                                                                                    <option value="65">
                                                65                                            </option>
                                                                                    <option value="70">
                                                70                                            </option>
                                                                                    <option value="75">
                                                75                                            </option>
                                                                                    <option value="80">
                                                80                                            </option>
                                                                            </select>
                                </div>
                                



                                

</form>


</div>


<div class="formone d-flex flex-row justify-content-center ">
<form class="form">
<div class="select mb-3">
                                    <select name="l" class="required" id="slh">
                                                                                    <option value="-" selected="selected">
                                                                                              </option>
                                                                                    <option value="2.5">
                                                2.5                                            </option>
                                                                                    <option value="3.5">
                                                3.5                                            </option>
                                                                                    <option value="4">
                                                4                                            </option>
                                                                                    <option value="4.5">
                                                4.5                                            </option>
                                                                                    <option value="4.75">
                                                4.75                                            </option>
                                                                                    <option value="4.8">
                                                4.8                                            </option>
                                                                                    <option value="5">
                                                5                                            </option>
                                                                                    <option value="5.2">
                                                5.2                                            </option>
                                                                                    <option value="5.25">
                                                5.25                                            </option>
                                                                                    <option value="5.3">
                                                5.3                                            </option>
                                                                                    <option value="5.5">
                                                5.5                                            </option>
                                                                                    <option value="5.6">
                                                5.6                                            </option>
                                                                                    <option value="5.7">
                                                5.7                                            </option>
                                                                                    <option value="5.9">
                                                5.9                                            </option>
                                                                                    <option value="6">
                                                6                                            </option>
                                                                                    <option value="6.4">
                                                6.4                                            </option>
                                                                                    <option value="6.5">
                                                6.5                                            </option>
                                                                                    <option value="6.7">
                                                6.7                                            </option>
                                                                                    <option value="7">
                                                7                                            </option>
                                                                                    <option value="7.25">
                                                7.25                                            </option>
                                                                                    <option value="7.3">
                                                7.3                                            </option>
                                                                                    <option value="7.5">
                                                7.5                                            </option>
                                                                                    <option value="8.25">
                                                8.25                                            </option>
                                                                                    <option value="8.75">
                                                8.75                                            </option>
                                                                                    <option value="9.5">
                                                9.5                                            </option>
                                                                                    <option value="10.5">
                                                10.5                                            </option>
                                                                                    <option value="12">
                                                12                                            </option>
                                                                                    <option value="13">
                                                13                                            </option>
                                                                                    <option value="13.5">
                                                13.5                                            </option>
                                                                                    <option value="15">
                                                15                                            </option>
                                                                                    <option value="17">
                                                17                                            </option>
                                                                                    <option value="18">
                                                18                                            </option>
                                                                                    <option value="18.5">
                                                18.5                                            </option>
                                                                                    <option value="20.5">
                                                20.5                                            </option>
                                                                                    <option value="21">
                                                21                                            </option>
                                                                                    <option value="27">
                                                27                                            </option>
                                                                                    <option value="28">
                                                28                                            </option>
                                                                                    <option value="29">
                                                29                                            </option>
                                                                                    <option value="30">
                                                30                                            </option>
                                                                                    <option value="31">
                                                31                                            </option>
                                                                                    <option value="32">
                                                32                                            </option>
                                                                                    <option value="33">
                                                33                                            </option>
                                                                                    <option value="35">
                                                35                                            </option>
                                                                                    <option value="36">
                                                36                                            </option>
                                                                                    <option value="37">
                                                37                                            </option>
                                                                                    <option value="38">
                                                38                                            </option>
                                                                                    <option value="38.5">
                                                38.5                                            </option>
                                                                                    <option value="39">
                                                39                                            </option>
                                                                                    <option value="40">
                                                40                                            </option>
                                                                                    <option value="42">
                                                42                                            </option>
                                                                                    <option value="105">
                                                105                                            </option>
                                                                                    <option value="115">
                                                115                                            </option>
                                                                                    <option value="125">
                                                125                                            </option>
                                                                                    <option value="130">
                                                130                                            </option>
                                                                                    <option value="135">
                                                135                                            </option>
                                                                                    <option value="140">
                                                140                                            </option>
                                                                                    <option value="145">
                                                145                                            </option>
                                                                                    <option value="150">
                                                150                                            </option>
                                                                                    <option value="155">
                                                155                                            </option>
                                                                                    <option value="160">
                                                160                                            </option>
                                                                                    <option value="165">
                                                165                                            </option>
                                                                                    <option value="170">
                                                170                                            </option>
                                                                                    <option value="175">
                                                175                                            </option>
                                                                                    <option value="180">
                                                180                                            </option>
                                                                                    <option value="185">
                                                185                                            </option>
                                                                                    <option value="190">
                                                190                                            </option>
                                                                                    <option value="195">
                                                195                                            </option>
                                                                                    <option value="200">
                                                200                                            </option>
                                                                                    <option value="205">
                                                205                                            </option>
                                                                                    <option value="210">
                                                210                                            </option>
                                                                                    <option value="215">
                                                215                                            </option>
                                                                                    <option value="220">
                                                220                                            </option>
                                                                                    <option value="225">
                                                225                                            </option>
                                                                                    <option value="230">
                                                230                                            </option>
                                                                                    <option value="235">
                                                235                                            </option>
                                                                                    <option value="240">
                                                240                                            </option>
                                                                                    <option value="245">
                                                245                                            </option>
                                                                                    <option value="250">
                                                250                                            </option>
                                                                                    <option value="255">
                                                255                                            </option>
                                                                                    <option value="265">
                                                265                                            </option>
                                                                                    <option value="270">
                                                270                                            </option>
                                                                                    <option value="275">
                                                275                                            </option>
                                                                                    <option value="280">
                                                280                                            </option>
                                                                                    <option value="285">
                                                285                                            </option>
                                                                                    <option value="295">
                                                295                                            </option>
                                                                                    <option value="305">
                                                305                                            </option>
                                                                                    <option value="315">
                                                315                                            </option>
                                                                                    <option value="325">
                                                325                                            </option>
                                                                                    <option value="335">
                                                335                                            </option>
                                                                                    <option value="345">
                                                345                                            </option>
                                                                                    <option value="350">
                                                350                                            </option>
                                                                                    <option value="355">
                                                355                                            </option>
                                                                                    <option value="400">
                                                400                                            </option>
                                                                                    <option value="401">
                                                401                                            </option>
                                                                                    <option value="450">
                                                450                                            </option>
                                                                                    <option value="500">
                                                500                                            </option>
                                                                                    <option value="600">
                                                600                                            </option>
                                                                                    <option value="650">
                                                650                                            </option>
                                                                                    <option value="700">
                                                700                                            </option>
                                                                            </select>
                                </div>



                                

</form>



</div>



<div class="formone d-flex flex-row justify-content-center ">

<div class="card col-6 col-md-3 ">
  <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
    <img src="{{asset ( 'build/images/pneu1.jpg') }}"
      class="img-fluid"
    />
    <a href="#!">
      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
    </a>
  </div>
  <div class="card-body">
    <h5 class="card-title">Continental</h5>
    <p class="card-text">
      Desription du pneu
    </p>
    <a href="#!" class="btn btn-primary">Entrer</a>
  </div>
  </div>

<div class="card col-6 col-md-3 ">
  <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
    <img src="{{asset ( 'build/images/pneu1.jpg') }}"
      class="img-fluid"
    />
    <a href="#!">
      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
    </a>
  </div>
  <div class="card-body">
    <h5 class="card-title">Continental</h5>
    <p class="card-text">
      Desription du pneu
    </p>
    <a href="#!" class="btn btn-primary">Entrer</a>
  </div>
  </div>

  <div class="card col-6 col-md-3 ">
  <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
    <img src="{{asset ( 'build/images/pneu1.jpg') }}"
      class="img-fluid"
    />
    <a href="#!">
      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
    </a>
  </div>
  <div class="card-body">
    <h5 class="card-title">Continental</h5>
    <p class="card-text">
      Desription du pneu
    </p>
    <a href="#!" class="btn btn-primary">Entrer</a>
  </div>
  </div>

<div class="card col-6 col-md-3 ">
  <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
    <img src="{{asset ( 'build/images/pneu1.jpg') }}"
      class="img-fluid"
    />
    <a href="#!">
      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
    </a>
  </div>
  <div class="card-body">
    <h5 class="card-title">Continental</h5>
    <p class="card-text">
      Desription du pneu
    </p>
    <a href="#!" class="btn btn-primary">Entrer</a>
  </div>
  </div>





</div>





<div class="d-flex flex-row justify-content-center ">
<div id="carouselExampleDark" class="carousel carousel-dark slide d-block w-50 h-50 " data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="6000">
      <img src="{{asset ( 'build/images/garage3.jpg') }}" class="d-block w-100 h-100" alt="logo du site">
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="6000">
      <img src="{{asset ( 'build/images/garage1.jpg') }}" class="d-block w-100 h-100" alt="logo du site">
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="6000">
      <img src="{{asset ( 'build/images/garage2.jpg') }}" class="d-block w-100 h-100" alt="logo du site">
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>




{% include 'base/footer.html.twig' %}

{% endblock %}
